<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.chronosentiment.csp003-forward-tick</string>
  <key>WorkingDirectory</key>
  <string>REPO_ROOT</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>REPO_ROOT/run_csp003_forward_tick.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>16</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>REPO_ROOT/product_validation/forward_unfrozen_dev/launchd.out.log</string>
  <key>StandardErrorPath</key>
  <string>REPO_ROOT/product_validation/forward_unfrozen_dev/launchd.err.log</string>
</dict>
</plist>
